In [102]:
# If you don't have, instal: pip install psycopg2 

from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import pandas as pd

In [103]:
# I check how to make this connection string in chat gpt:
# Our database connection to server: 
db_url = "postgresql+psycopg2://postgres:project4Root@167.172.148.67:5432/postgres"

In [104]:
# Create an engine
engine = create_engine(db_url)

In [105]:
# Prepare Automap base
Base = automap_base()

In [106]:
# Reflect the tables from the database
Base.prepare(engine, reflect=True)

/var/folders/9g/q_vt4mks1rz6myydd0n5jcwc0000gn/T/ipykernel_42560/2295082796.py:2: SADeprecationWarning: The AutomapBase.prepare.reflect parameter is deprecated and will be removed in a future release.  Reflection is enabled when AutomapBase.prepare.autoload_with is passed.
  Base.prepare(engine, reflect=True)

In [107]:
# We can check what tables are there and peek a good name
print("Tables:")
for table_name in Base.classes.keys():
    print(table_name)

Tables:
harvey_df
sandy_all_data
michael_df
hurricanes_wind
irma_df
maria_df
hurricane_pop_dense
florence_df
dorian_tweets
cyclone_data
all_hurricanes

In [97]:
# Accesing table and mapping 
cyclone_data = Base.classes.cyclone_data

In [98]:
# create session
session = Session(engine)

In [99]:
# Query the database
result = session.query(cyclone_data).all()

In [100]:
# This code here I ask chat gpt how to take the data to df after query them:

# "cyclone_data.__table__.columns" - this is bringing object that represents the columns in table. 
# "cyclone_data.__table__" - this is atribute that holds metadata table, also informations about columns.

columns = [column.name for column in cyclone_data.__table__.columns]

# "result" - this is list of SQLAlchemy objects, that have dates taken from database.
# row.__dict__ - All object in results is representing one row. In SQLAlchemy object that represents a row have attribute "__dict__", which 
# is a dictionary that holds rows data, where keys are columns names and values are data from this columns. 

data = [row.__dict__ for row in result]

# Removing extra attributes from our dictionary. Method pop() will remove key "_sa_instance_state" and it's value from all dictionary. If key
# does not exist it won't raise error because we handle it with "None".

for row in data:
    row.pop('_sa_instance_state', None)

# Making df
df_cyclone = pd.DataFrame(data, columns=columns)

df_cyclone.head()

,name,disaster,CPI-Adjusted Cost,Unadjusted Cost,deaths,begin_date,end_date,cyclone_year
0,Allen (1980),Tropical Cyclone,2236.2,590.0,13,1980-08-07,1980-08-11,1980
1,Alicia (1983),Tropical Cyclone,9450.0,3000.0,21,1983-08-17,1983-08-20,1983
2,Elena (1985),Tropical Cyclone,3788.4,1297.4,4,1985-08-30,1985-09-03,1985
3,Gloria (1985),Tropical Cyclone,2491.3,856.1,11,1985-09-26,1985-09-28,1985
4,Juan (1985),Tropical Cyclone,4340.4,1496.7,63,1985-10-27,1985-10-31,1985

In [101]:
# Close the session
session.close()